body {
    background-color: #1A1A1A;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-container, #admin-console {
    width: 80%;
    max-width: 800px;
    background-color: #2C2C2C;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #fff;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #1A1A1A;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: #fff;
    color: #1A1A1A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#admin-console header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#user-data-container {
    height: 400px;
    overflow-y: auto;
}

#user-data-table {
    width: 100%;
    border-collapse: collapse;
}

#user-data-table th, #user-data-table td {
    border: 1px solid #fff;
    padding: 0.5rem;
    text-align: left;
}

#user-data-table th {
    background-color: #1A1A1A;
}
